.page {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 300px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #F5F6F7;
}

.page__section {
  padding: 0 104px;
}

@media screen and (max-width: 890px) {
  .page__section {
    padding: 0 40px;
  }
}

@media screen and (max-width: 675px) {
  .page__section {
    padding: 0 16px;
  }
}
