.search {
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 auto;
  max-width: 608px;
}

.search__title {
  font-family: 'Robotoslab', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: #FFFFFF;
  max-width: 608px;
  margin: 0 0 32px 0;
}

.search__subtitle {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  max-width: 545px;
  margin: 0 0 64px 0;
}

.search__form {
  position: relative;
}

.search__input {
  padding: 0;
  border: 0;
  height: 64px;
  width: 608px;
  z-index: 0;
  border-radius: 80px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
  padding-left: 24px;
  box-sizing: border-box;
}

.search__input:focus {
  color: #1A1B22;
}

.search__error {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #FF0000;
  text-shadow: 1px 1px rgb(75, 61, 61);
  position: absolute;
  left: 25%;
  bottom: -28px;
}

@media screen and (max-width: 890px) {
  .search {
    padding-top: 38px;
    padding-bottom: 48px;
    max-width: 452px;
  }
  .search__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
    margin-bottom: 16px;
  }
  .search__subtitle {
    max-width: 452px;
    margin-bottom: 48px;
  }
  .search__input {
    height: 56px;
    width: 452px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 600px) {
  .search {
    padding-top: 30px;
    padding-bottom: 32px;
    max-width: 288px;
  }
  .search__title {
    max-width: 288px;
  }
  .search__subtitle {
    max-width: 288px;
    margin-bottom: 122px;
  }
  .search__form {
    display: block;
  }
  .search__input {
    height: 56px;
    max-width: 288px;
    padding-left: 16px;
    margin-bottom: 16px;
  }
}
