.card {
  max-width: 400px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: box-shadow .3s;
  position: relative;
}

.card:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.card__image {
  height: 272px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.card__description {
  padding: 24px;
}

.card__date {
  font-family: 'SourceSansPro', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #B6BCBF;
  margin: 0 0 12px 0;
}

.card__text-container {
  min-height: 194px;
  white-space: normal;
  margin: 0 0 10px 0;
  overflow: hidden;
}

.card__title {
  font-family: 'Robotoslab', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 0 0 16px 0;
  cursor: pointer;
  transition: all .3s;
}

.card__title:hover {
  color: #347EFF;
}

.card__subtitle {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__link {
  text-decoration: none;
  font-family: 'Robotoslab', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  cursor: pointer;
  margin: 0;
}

@media screen and (max-width: 890px) {
  .card__title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .card__description {
    padding: 16px;
  }
  .card__text-container {
    min-height: 170px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    max-width: 288px;
  }
  .card__title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .card__text-container {
    margin-bottom: 8px;
    min-height: 150px;
  }
  .card__date {
    margin-bottom: 10px;
  }
}
