@keyframes fade {
  from {
      opacity: .3
  }
  to {
      opacity: 1
  }
}

.card {
  max-width: 100%;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  transition: box-shadow .3s;
}

.card:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.card__date {
  font-family: 'SourceSansPro', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #B6BCBF;
  margin: 0 0 12px 0;
}

.card__title {
  font-family: 'Robotoslab', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 0 0 16px 0;
  cursor: pointer;
  transition: all .3s;
  overflow: hidden;
}

.card__title:hover {
  color: #347EFF;
}

.card__iframe {
  margin: 0 0 16px 0;
  display: none;
  animation: fade 2s;
  align-items: center;
}

.card__iframe_active {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__video {
  width: 100%;
  border: none;
  margin: 0 0 16px 0;
}

.card__close-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.card__subtitle {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin: 0;
}

@media screen and (max-width: 890px) {
  .card {
    padding: 16px;
  }

  .card__title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .card__iframe {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    max-width: 288px;
  }
  .card__title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .card__iframe {
    margin-bottom: 8px;
  }
  .card__date {
    margin-bottom: 10px;
  }
}
